body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #121212;
}
.pharmacist-app {
  display: flex;
  height: 100vh;
  color: #E0E0E0;
}
.empty-chat {
  margin: auto;
  font-size: 1.2em;
}
